.projects-container {
    padding: 2rem 0;
  }
  
  .projects-container h1 {
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: 500;
    color: #6c757d;
  }
  
  .projects-table {
    border-collapse: separate;
    border-spacing: 0 0.5rem;
  }
  
  .projects-table thead tr {
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 154, 0, 1) 10%, rgba(208, 222, 33, 1) 20%, rgba(79, 220, 74, 1) 30%, rgba(63, 218, 216, 1) 40%, rgba(47, 201, 226, 1) 50%, rgba(28, 127, 238, 1) 60%, rgba(95, 21, 242, 1) 70%, rgba(186, 12, 248, 1) 80%, rgba(251, 7, 217, 1) 90%, rgba(255, 0, 0, 1) 100%);
    color: white;
  }
  
  .projects-table tbody tr {
    background-color: #f8f9fa;
  }
  
  .projects-table tbody tr:nth-child(even) {
    background-color: #f1f1f1;
  }
  